/* main css */
@import url('https://wivon-hub.tk/fonts/samsungSharp.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --backgrnd-color:#1f1f1f;
    --text-color:#f1f1f1;
    --accent-color:#0092e6;
}

body {
    background: var(--backgrnd-color);
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica';
    color: var(--text-color);
    user-select: none;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    margin-top: 75px;
    vertical-align: middle;
    align-items: center;
    animation: headerdisplay 0.2s ease-out;
}

@keyframes headerdisplay {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cardDisplay {
    0% {
        opacity: 0.5;
        transform: scale(.8);
    }
    75% {
        opacity: 1;
        transform: scale(.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes footerdisplay {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-family: 'samsung_sharp_sansbold', 'Helvetica';
    vertical-align: middle;
}

header .headerBtn {
    width: 60px;
    height: 60px;
    background: #f1f1f15e;
    vertical-align: middle;
    border-radius: 50%;
    background: linear-gradient(45deg, tomato, aquamarine);
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

header .headerBtn:hover {
    transform: rotate(30deg) scale(1.05);
}

header .settingsBtn {
    background: transparent;
    border-radius: 0%;
    background-image: url(../img/settingsX256.png);
    background-position: center;
    background-size: 100%;
    transform: scale(.9);
}

header .settingsBtn:hover {
    transform: rotate(0deg) scale(1);
}

header .headerBtn:active {
    transform: rotate(0deg) scale(0.9);
}

/* titleBar */

.titleBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.3);
    -webkit-app-region: drag;
    vertical-align: middle;
}

.titleBar span.title {
    color: var(--text-color);
    opacity: .7;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 10px;
    width: max-content;
    height: 100%;
    text-align: center;
    margin-top: 3px;
}

.titleBar .TitleBarActionButton {
    background: tomato;
    font-weight: 700;
    font-size: 15px;
    color: var(--backgrnd-color);
    border: none;
    width: 20px;
    height: 100%;
    cursor: pointer;
    -webkit-app-region: none;
}

.titleBar .minimizeBtn {
    color: #fff;
    background: transparent;
    padding-bottom: 3px;
}

.titleBar .minimizeBtn:hover {
    background: rgba(0, 0, 0, 0.2);
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: max-content;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: var(--backgrnd-color);
}

#notification:hover {
    opacity: 0.2;
}

#notification .close-button, .restart-button {
    margin-top: 10px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.pannel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    padding-left: 15px;
    transition: 0.3s all;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
    height: 0;
    margin-bottom: 0;
    margin-top: 0px;
    overflow: hidden;
}

.pannel.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    height: max-content;
    margin-top: 50px;
    transition: 0.3s all;
}

.container.editing .card {
    transform: scale(0.9);
    opacity: 0.75;
    animation: editing ease-in-out infinite;
}

.card {
    user-select: none;
    width: 106px;
    height: 127px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: cardDisplay .2s ease-in;
}

.editing .card .handle {
    pointer-events: all;
    cursor: grab;
}

.editing .card .handle:active {
    cursor: grabbing;
}

.card .handle {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}

.card:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

.container.editing .card:hover {
    opacity: 8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.card h3 {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

/* footer */

footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: #f1f1f1b0;
    text-align: center;
    animation: footerdisplay 0.2s ease-out;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

/* Settings */

.settings.active, .account.active {
    margin-top: 25px;
}

.panTitle {
    margin-bottom: 20px;
}

.panTitle span {
    opacity: 0.5;
    font-weight: 200;
    cursor: default;
    font-size: 18px;
}

.backButton {
    content: '';
    filter: invert();
    background-image: url(../img/settings_open_icon.png);
    background-position: center;
    background-size: 100%;
    height: 30px;
    position: absolute;
    right: 10px;
    width: 0;
    opacity: 0;
    pointer-events: none;
    transform: rotate(180deg);
    cursor: pointer;
}

.backButton.active {
    width: 30px;
    opacity: 1;
    pointer-events: auto;
}

.parameterBox {
    background: #f1f1f13a;
    height: 65px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    vertical-align: middle;
}

.parameters {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    transition: 0.2s ease-out;
}

.parameters.paramHidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-25px);
}

.parameterBox:hover {
    background: #f1f1f152;
    
}

.parameterBox .paramDetails .parameterName {
    font-size: 17px;
    vertical-align: middle;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: default;
}

.parameterBox .paramDetails .parameterDesc {
    font-size: 13px;
    font-weight: 300;
    opacity: .9;
    cursor: default;
}

.parameterBox .parameterIcon {
    filter: invert();
    width: 28px;
    height: 28px;
    margin-right: 15px;
}

.parameterBox::after {
    content: '';
    filter: invert();
    background-image: url(../img/settings_open_icon.png);
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
}

.parameterContent {
    opacity: 0;
    pointer-events: none;
    height: 0;
    transform: translateX(50px);
    transition: 0.2s all ease-out;
    transition-delay: 0.3s;
    width: 100%;
}

.parameterContent.active {
    opacity: 1;
    pointer-events: auto;
    height: max-content;
    transform: translateX(0);
}

.panSubtitle {
    font-size: 18px;
}

/* parameter content */

/* updates */

.parameterContent .updateHeader {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
}

.parameterContent .updateHeader img {
    filter: invert();
    height: 100px;
    width: 100px;
}

.parameterContent .updateHeader img.active {
    animation: spinner 1.5s ease-in-out infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
        cursor: wait;
    }
    to {
        transform: rotate(360deg);
        cursor: wait;
    }
}

.paraeterContent .updateHeader div {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.parameterContent div div h4 {
    font-weight: 300;
    margin-top: 5px;
}

.parameterContent div div .buttons {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.parameterContent button {
    background: var(--accent-color);
    border-radius: 5px;
    color: var(--backgrnd-color);
    border: none;
    outline-color: var(--backgrnd-color);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    padding: 5px 10px;
    transition: 0.2s;
    cursor: pointer;
    margin-right: 10px;
}

.parameterContent button:hover {
    opacity: .8;
}

.parameterContent h4 {
    font-weight: 500;
}

.parameterContent .updateInfo {
    margin-top: 20px;
    background: #37383b;
    border-radius: 15px;
    padding: 10px;
    padding-left: 15px;
    width: 100%;
}

/* add app */

.parameterContent .addApp {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.parameterContent .addApp input {
    background: #37383b;
    color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 10px;
}