/* main css */
@import url('https://wivon-hub.tk/fonts/samsungSharp.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

:root {
    --backgrnd-color: #1f1f1f;
    --text-color: #f1f1f1;
    --accent-color: #3781f8;
}

.debug div:hover, .debug button:hover, .debug img:hover, .debug p:hover, .debug span:hover, .debug a:hover {
    background: #ff00003b;
    border: solid 2px #0f0;
}

body {
    background: var(--backgrnd-color);
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica';
    color: var(--text-color);
    user-select: none;
    outline: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Popup */

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(25px) grayscale(90%);
    padding: 1.5rem;
    border-radius: 0.5em;
    border: 1.5px solid rgba(255, 255, 255, .3);
    max-width: 300px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .6);
    text-align: center;
    top: 150px;
    position: absolute;
    left: 0;
    right: 0;
    width: 250px;
    z-index: 99999999999999;
    margin-left: auto;
    margin-right: auto;
    animation: popupDisplay .4s ease-out;
}

.popup h3 {
    margin-bottom: 0;
    font-weight: 700;
}

.popup p {
    margin-top: 5px;
    opacity: .75;
    font-weight: 300;
    margin-bottom: 5px;
}

.popup img {
    width: 64px;
    margin-bottom: 10px;
}

.popup .buttons {
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    font-weight: 200;
}

.destructive {
    color: rgba(235, 52, 28, 0.911) !important;
}

.popup .buttons button {
    color: rgba(0, 0, 0, .9);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    border: none;
    outline: none;
    font-size: 1.15em;
    line-height: 1;
    width: 100%;
}

.popup .buttons button:last-child {
    margin-top: 10px;
}

.popup .buttons button.accent {
    box-shadow: rgba(255, 255, 255, .23) 0px 5px 10px inset;
    background: var(--accent-color);
    cursor: pointer;
}

@keyframes popupDisplay {
    from {
        opacity: 0;
        transform: scale(1.15);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popupBackground.popHidden {
    opacity: 0;
    pointer-events: none;
}

.popupBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: .2s;
    opacity: 1;
    pointer-events: auto;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    margin-top: 60px;
    vertical-align: middle;
    align-items: center;
    animation: headerdisplay 0.2s ease-out;
    transform-origin: top;
}

img {
    -webkit-user-drag: none;
}

@keyframes headerdisplay {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(.8);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes cardDisplay {
    0% {
        opacity: 0.5;
        transform: scale(.2);
    }

    20% {
        opacity: 1;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes footerdisplay {
    0% {
        opacity: 0;
        transform-origin: bottom;
        transform: translateY(50px) scale(.8);
    }

    100% {
        opacity: 1;
        transform-origin: bottom;
        transform: translateY(0) scale(1);
    }
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-family: 'samsung_sharp_sansbold', 'Inter';
    vertical-align: middle;
    font-size: 45px;
}

header .headerBtn {
    width: 60px;
    height: 60px;
    background: #f1f1f15e;
    vertical-align: middle;
    border-radius: 50%;
    background: var(--accent-color);
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    position: relative;
}

header .AccountBtn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: invert() brightness(150%) saturate(0.85);
    box-shadow: inset -8px -8px 15px var(--accent-color);
    background: transparent;
    border-radius: 50%;
    transition: 0.2s all;
    z-index: 98;
}

header .AccountBtn:hover::before {
    box-shadow: inset -10px -10px 15px var(--accent-color);
}

header .AccountBtn::after {
    content: 'OG';
    font-family: 'samsung_sharp_sansbold';
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    transition: 0.2s all;
    z-index: 99;
    color: var(--backgrnd-color);
    opacity: 0.9;
}

header .settingsBtn {
    background: transparent;
    border-radius: 0%;
    background-image: url(../img/settingsX256.png);
    box-shadow: none;
    background-position: center;
    background-size: 100%;
    transform: scale(.9);
}

header .settingsBtn:hover {
    transform: rotate(0deg) scale(1);
    box-shadow: none;
}

header .headerBtn:active {
    transform: rotate(-25deg) scale(0.9);
}

/* titleBar */

.titleBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.3);
    -webkit-app-region: drag;
    vertical-align: middle;
    z-index: 99999999;
}

.titleBar span.title {
    color: var(--text-color);
    opacity: .7;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 10px;
    width: max-content;
    height: 100%;
    text-align: center;
    margin-top: 3px;
}

.titleBar span.title span {
    animation: titleDisplay .2s ease-out;
}

@keyframes titleDisplay {
    from {
        opacity: .2;
    }

    to {
        opacity: 1;
    }
}

.titleBar .TitleBarActionButton {
    background: tomato;
    font-weight: 700;
    font-size: 15px;
    color: var(--backgrnd-color);
    border: none;
    width: 20px;
    height: 100%;
    cursor: pointer;
    -webkit-app-region: none;
}

.titleBar .minimizeBtn {
    color: #fff;
    background: transparent;
    padding-bottom: 3px;
}

.titleBar .minimizeBtn:hover {
    background: rgba(0, 0, 0, 0.2);
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: max-content;
    max-width: 250px;
    min-width: 150px;
    padding: 10px 20px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(255px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: var(--backgrnd-color);
}

#notification #close-button {
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    right: 8px;
    top: calc(50% - 11px);
    width: 15px;
    height: 15px;
    cursor: pointer;
    transform: scale(1.5);
    font-weight: 200;
}

#notification p {
    font-size: 15px;
}

#notification .notifBtn {
    background: transparent;
    color: var(--accent-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#notification #restart-button:hover {
    text-decoration: underline;
}

#notification #close-button, #restart-button {
    margin-top: 5px;
}

.hidden {
    display: none;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    padding-left: 15px;
    transition: 0.45s all;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px) scale(0.95);
    height: 0;
    margin-bottom: 0;
    margin-top: 0px;
    overflow: hidden;
}

.panel.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
    height: max-content;
    margin-top: 50px;
    transition: 0.3s all;
}

.container.editing .card {
    transform: scale(0.9);
    opacity: 0.75;
}

.container {
    overflow: hidden;
}

.container.active {
    height: 300px !important;
}

.card {
    user-select: none;
    width: 106px;
    height: 127px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: cardDisplay .3s ease-out;
}

.editing .card .handle {
    pointer-events: all;
    cursor: grab;
}

.editing .card .handle:active {
    cursor: grabbing;
}

.card .handle {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}

.card:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

.container.editing .card:hover {
    opacity: 8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 70px;
    margin-bottom: 10px;
}

.card h3 {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

/* footer */

footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: #f1f1f1b0;
    text-align: center;
    animation: footerdisplay 0.2s ease-out;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

/* Settings */

.settings.active, .account.active {
    margin-top: 25px;
}

.panTitle {
    margin-bottom: 14px;
}

.panTitle span {
    opacity: 0.5;
    font-weight: 200;
    cursor: default;
    font-size: 18px;
}

.backButton {
    content: '';
    filter: invert();
    background-image: url(../img/settings_open_icon.png);
    background-position: center;
    background-size: 100%;
    height: 30px;
    position: absolute;
    right: 10px;
    width: 0;
    opacity: 0;
    pointer-events: none;
    transform: rotate(180deg);
    cursor: pointer;
}

.backButton.active {
    width: 30px;
    opacity: 1;
    pointer-events: auto;
}

.parameterBox {
    background: #f1f1f13a;
    height: 65px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    vertical-align: middle;
}

.parameters {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    transition: 0.2s ease-out;
}

.parameters.paramHidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-25px);
}

.parameterBox:hover {
    background: #f1f1f152;
}

.parameterBox .paramDetails .parameterName {
    font-size: 17px;
    vertical-align: middle;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: default;
}

.parameterBox .paramDetails .parameterDesc {
    font-size: 13px;
    font-weight: 300;
    opacity: .9;
    cursor: default;
}

.parameterIcon {
    filter: invert();
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.smallIcon {
    width: 10px;
    height: 10px;
}

.parameterBox::after {
    content: '';
    filter: invert();
    background-image: url(../img/settings_open_icon.png);
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
}

.parameterContent {
    opacity: 0;
    pointer-events: none;
    height: 0;
    transform: translateX(50px);
    transition: 0.2s all ease-out;
    transition-delay: 0.3s;
    width: 100%;
}

.parameterContent.active {
    opacity: 1;
    pointer-events: auto;
    height: max-content;
    transform: translateX(0);
}

.panSubtitle {
    font-size: 18px;
}

/* parameter content */

/* updates */

.parameterContent .updateHeader {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
}

.parameterContent .updateHeader img {
    filter: invert();
    height: 100px;
    width: 100px;
}

.parameterContent .updateHeader img.active {
    animation: spinner 1.5s ease-in-out infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
        cursor: wait;
    }

    to {
        transform: rotate(360deg);
        cursor: wait;
    }
}

.paraeterContent .updateHeader div {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.parameterContent div div h4 {
    font-weight: 300;
    margin-top: 5px;
}

.parameterContent div div .buttons {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.parameterContent button {
    background: var(--accent-color);
    border-radius: 9px;
    color: var(--backgrnd-color);
    border: none;
    outline-color: var(--backgrnd-color);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 10px;
    transition: 0.2s;
    cursor: pointer;
    margin-right: 10px;
}

.parameterContent button:hover {
    opacity: .8;
}

.parameterContent h4 {
    font-weight: 500;
}

.parameterContent h3.appVersionIndicator {
    margin-top: 15px;
    margin-left: 10px;
}

.parameterContent .updateInfo {
    margin-top: 10px;
    background: #37383b;
    border-radius: 15px;
    padding: 10px;
    padding-left: 15px;
    width: 100%;
}

/* add app */

.parameterContent .addApp {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.parameterContent .addApp input {
    background: #37383b;
    color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 10px;
}

.parameterContent label {
    margin-right: 10px;
}

select {
    background: var(--accent-color);
    color: var(--backgrnd-color);
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-weight: 900;
}

option {
    background: var(--accent-color);
    color: var(--backgrnd-color);
    font-weight: 700;
    border-radius: 5px;
}

.parameterContent h2.themeTitle {
    margin-bottom: 10px;
}

.parameterContent a {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 15px;
}

.parameterContent a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cardContextMenu {
    position: absolute;
    top: 20px;
    left: 0;
    height: max-content;
    max-height: 300px;
    width: 130px;
    max-width: 200px;
    display: none;
    justify-content: start;
    flex-direction: column;
    border-radius: 8px;
    z-index: 1000;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.5);
    animation: contextMenuDisplay .2s;
    transform-origin: top left;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    animation-timing-function: cubic-bezier(0, 1, 0.5, 1.08);
    border: 1.5px solid rgba(255, 255, 255, .6);
}

@keyframes contextMenuDisplay {
    from {
        transform: scale(.6);
        opacity: .8;
    }

    50% {
        transform: scale(1.01);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cardContextMenu .CtxMenubutton {
    display: flex;
    justify-content: start;
    vertical-align: middle;
    height: max-content;
    min-width: 100px;
    padding: 5px;
    vertical-align: middle;
}

.cardContextMenu .CtxMenubutton:hover {
    background: rgba(255, 255, 255, .05);
    border-radius: 5px;
    transition: .2s background;
}

.cardContextMenu .CtxMenubutton img {
    filter: invert();
    height: 25px;
    margin-right: 20px;
}

.cardContextMenu .CtxMenubutton button {
    background: transparent;
    color: var(--text-color);
    border: none;
    text-align: center;
    font-size: 18px;
}

.invert {
    filter: invert();
}

.downloadProgress {
    display: none;
    transition: all .3s;
}

.downloadProgress.downloading {
    display: block;
    padding-top: 15px;
    padding-left: 15px;
}

kbd {
    font-size: 18px;
    display: inline-block;
    background: rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 2.5px 5px;
    width: max-content;
    height: max-content;
    border-bottom: 4px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

kbd:hover {
    cursor: pointer;
}

kbd:active {
    transform: translateY(2px);
    margin-bottom: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.shortcuts {
    padding-left: 25px;
}

button.ftPlug {
    background: #1A2540 !important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    color: #f1f1f1;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
}

button.ftPlug:hover {
    opacity: 1;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
}

button.ftPlug:before {
    content: '';
    background: url('../img/ext/plug_logo.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: none;
}

.containerANA {
    background: rgba(255, 255, 255, 0.05);
    height: 333px;
    border-radius: 25px;
    border: solid 1px rgba(255, 255, 255, .5);
    position: relative;
}

.containerANA h2 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 15px;
}

.containerANA h5 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

.containerANA img {
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%) scale(.85);
    width: 99px;
    height: 99px;
    transition: 0.3s all;
    opacity: .75;
}

.containerANA p {
    text-align: center;
    opacity: .75;
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    transition: 0.2s all;
}

.containerANA .buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.containerANA .buttons .btn-small {
    font-weight: 900;
    aspect-ratio: 1/1;
}